body.html {
  padding-top: 0px;
}

body.toolbar {
  padding-top: 30px !important;
}

body.toolbar-drawer {
  padding-top: 65px !important;
}

.clearfix {
  clear: both;
}

/** top navbar **/
.navbar-inner {
 border-top-left-radius: 0px;
 border-top-right-radius: 0px;
}

#site-home:hover,
.navbar-inverse .brand, .navbar-inverse .nav > li > a:hover{
  color: #FFFFFF;
}
/** top navbar **/

/** sidebare start**/
.region-sidebar-first.well {
  padding: 0px;
}

.client-sites h3 {
  padding-left: 10px;
  background-color: #E5E5E5;
  font-size: 17px;
  line-height: 30px;
  margin: 0px;
}

.client-sites ul li {
  line-height: 23px;
}

.client-sites .nav-list {
  padding-right: 0px;
}

.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
}
/** sidebare end **/

/** anonymouse login page **/
.container-anonymouse {
  margin: auto;
  padding: 100px;
  text-align: center;
}

.container-anonymouse .alert-block {
  width: 558px;
  margin-left: 300px;
}

.container-anonymouse .row {
  margin: auto;
  padding: 8px;
  text-align: left;
  width: 50%;
}

.container-anonymouse .row .form-item {
  width: 500px; 
}

.container-anonymouse .row .span12 {
   width: auto !important;
   float: left;
   margin-top: 18px;
}

.container-anonymouse .row span {
  margin-left: 18px;
}

/** anonymouse login page end **/

/** websites style start **/
.field-collection-container, .form-item {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}


.field-name-field-accessor-access .field-items .field-item {
  float: left;
  margin-left: 5px;
  background-color: #b94a48;
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  margin-bottom: 5px;
  width: auto;
  padding-top: 0;
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  min-width: auto;
}

.field-collection-view .field-label, .group-basic-information .field-label {
  text-align: right;
  margin: 5px !important;
}

.field-collection-view .field-item, .group-basic-information .field-item {
  display: inline-block;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
  margin-bottom: 8px !important;
  min-width: 280px;
}

.page-header {
  margin: 0px;
  padding: 10px;
  border: 0px;
}

.group-basic-information .field-item {
  width: 75%;
  text-align: left;
}

.group-basic-information .field-label {
  width: 25%;
  text-align: right;
}


/** websites sytle end **/