/**
 * Stylesheet for OpenVault profile
 */

body.maintenance-page #logo {
  background: transparent url(openvault.png) no-repeat top left;
  height: 0;
  overflow: hidden;
  padding-top: 187px; /* height of logo  */
  width: 622px; /* width of logo  */
}
